EMAIL_USER=your_gmail_address
EMAIL_PASS=your_gmail_app_password
MONGO_URI=your_mongodb_connection_string
PORT=5001
CLIENT_URL=http://localhost:3000
SERVER_URL=http://localhost:5001
HOST=127.0.0.1



